# Build directory
/build/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.dir/

# Compiled binaries
*.exe
*.out
*.app
*.o
*.obj

# Backup files
*~
*.swp
*.tmp

# macOS
.DS_Store

# Linux
*~

# Visual Studio Code
.vscode/

# Logs
*.log

# Other temporary files
*.tmp
